@charset "UTF-8";
@import "_mixins";
@import "_breakpoints";

.filter-container{
    .filter-group__heading__text{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 17px;
        margin: 0;
    }
    .filter-group__item{
        font-size: 15px;
    }
}

.filter-toggle{
    .filter-toggle__group-label{
        font-size: 15px;
    }
    .filter-toggle__options{
        font-size: 14px;
        border-radius: 25px;
        background-color: #F0EEEC;
        padding: 3px;
        // margin: 0;
        box-sizing: border-box;
    }
    .filter-toggle__input-label{
        .filter-toggle__input:checked+.filter-toggle__input-label-text{
            border-radius: 20px;
            color: #000000;
        }
        .filter-toggle__input-label-text{
            border: none;
            display: flex;
            color: #808080;
            padding: 0.25em 0.8em;
        }
    }
}

.utility-bar__centre {
    color: #808080;
    font-weight: 300;
    @include mq('tablet-wide', min) {
        // flex: 1 1 560px;
        // text-align: left;
    }
}

.utility-bar{
    .view{
        color: #818181;
        @include mq('tablet', min) {
            flex: 1 0 560px;
        }
        select{
            border: none;
            font-weight: 500;
            font-size: 16px;
        }
    }
}