<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteRule ^request\.html$ /wp-admin/admin-ajax.php [QSA,L]
RewriteRule ^ssl-request\.html$ /wp-admin/admin-ajax.php [QSA,L]
</IfModule>
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

DirectoryIndex index.php
# END WordPress