@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&amp;family=Quicksand:wght@300;400;500;600;700&amp;display=swap");
@import url(normalize.css);
@import url(td-icon.css);
@import url(animate.min.css);
@import url(hamburgers.css);
@import url(swiper-bundle.min.css);
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes zoominoutnotifi {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoominoutnotifi {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.std h1,
.std h2,
.std h3,
.std h4,
.std h5,
.std h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.std h1 {
  font-size: 24px;
  line-height: 30px;
}

@media only screen and (min-width: 768px) {
  .std h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

.std h2 {
  font-size: 20px;
  line-height: 26px;
}

@media only screen and (min-width: 768px) {
  .std h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.std h3 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .std h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

.std h4 {
  font-size: 14px;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  .std h4 {
    font-size: 16px;
    line-height: 22px;
  }
}

.std p {
  margin-bottom: 20px;
}

.std img {
  margin: auto;
  display: inherit;
}

.std ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.std ul ul {
  list-style-type: circle;
}

.std ul li, .std ol li {
  margin-bottom: 6px;
}

.std a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #010101;
  font-weight: 400;
  transition: color 0.2s ease;
}

form {
  margin-bottom: 0;
}

fieldset,
figure {
  padding: 0;
  margin: 0;
  border: none;
}

input:-internal-autofill-selected {
  background: none;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 20px 0 6px;
  color: #fff;
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-rtl-ordering: logical;
}

textarea.input-text {
  width: 100%;
  height: 80px;
  padding: 20px 0 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-rtl-ordering: logical;
}

.btn-primary {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  display: inline-block;
  min-width: 250px;
  height: 50px;
  border-radius: 40px;
  padding: 0 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  transition: all .5s ease;
}

.btn-primary:hover {
  border: 1px solid white;
  background-color: #fff;
  color: #000;
}

header nav > ul {
  display: flex;
}

header nav > ul > li {
  margin-right: 60px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  header nav > ul > li {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1336px) {
  header nav > ul > li {
    margin-right: 60px;
  }
}

header nav > ul > li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scale3d(0, 1, 1);
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  pointer-events: none;
}

header nav > ul > li:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 40px;
  background: transparent;
  pointer-events: none;
}

header nav > ul > li:hover:before {
  transform: scale3d(1, 1, 1);
}

header nav > ul > li:hover > ul {
  opacity: 1;
}

header nav > ul > li.active:before {
  transform: scale3d(1, 1, 1);
}

header nav > ul > li > a {
  color: #fff;
  padding: 5px 10px;
  display: flex;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  header nav > ul > li > a {
    padding: 5px 5px;
  }
}

@media only screen and (min-width: 1441px) {
  header nav > ul > li > a {
    padding: 5px 10px;
  }
}

header nav > ul > li ul {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 33px;
  left: -6px;
  padding: 10px 0;
  min-width: 125px;
  opacity: 0;
  transition: opacity .5s ease;
}

@media only screen and (max-width: 767px) {
  header nav > ul > li ul {
    display: none;
  }
}

header nav > ul > li ul a {
  padding: 5px 15px;
  display: block;
}

header nav > ul > li ul a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(26, 27, 32, 0.98);
    opacity: 0;
    transition: opacity .3s ease,visibility .3s step-end;
    pointer-events: none;
    visibility: hidden;
  }
  header nav > ul {
    flex-direction: column;
    position: absolute;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  header nav > ul > li {
    display: block;
    font-size: 26px;
    float: none;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: .3px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  header nav {
    flex-grow: 2;
    margin: 0 90px;
  }
}

@media only screen and (max-width: 767px) {
  header.opened nav {
    transition: opacity .3s ease,visibility 0s step-start;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

header.fixed_white nav > ul > li:before {
  background-color: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  padding: 0 20px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1201px) {
  header {
    padding: 0 60px;
  }
}

@media only screen and (min-width: 1441px) {
  header {
    padding: 0 130px;
  }
}

header a {
  color: #fff;
}

header:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background-color: #fafafa;
  border-bottom: 1px solid #f2f2f2;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s ease;
}

@media only screen and (max-width: 767px) {
  header:before {
    height: 70px;
  }
}

header .header-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  top: 14px;
  transition: top .3s ease;
}

@media only screen and (min-width: 768px) {
  header .header-wrapper {
    top: 50px;
  }
}

header .hamburger {
  position: absolute;
  right: -4px;
  top: 0;
  padding: 8px 0;
  transform: scale(0.8);
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  header .hamburger {
    display: none;
  }
}

header:not(.fixed_white) .hamburger .hamburger-inner,
header:not(.fixed_white) .hamburger .hamburger-inner::before,
header:not(.fixed_white) .hamburger .hamburger-inner::after {
  background-color: #fff;
}

header:not(.fixed_white) .hamburger.is-active .hamburger-inner,
header:not(.fixed_white) .hamburger.is-active .hamburger-inner::before,
header:not(.fixed_white) .hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

header.fixed_white {
  color: #010101;
}

header.fixed_white:before {
  opacity: 1;
}

header.fixed_white a {
  color: #010101;
}

@media only screen and (min-width: 768px) {
  header.fixed_white .header-wrapper {
    top: 14px;
  }
}

@media only screen and (min-width: 768px) {
  header.fixed_white .logo {
    width: 60px;
    height: 48px;
  }
}

header.fixed_white .logo .white {
  opacity: 0;
}

header.fixed_white .logo .black {
  opacity: 1;
}

header.fixed_white .lang ul > li.active, header.fixed_white .lang ul > li.current-lang {
  background-color: #707070;
  color: #fff;
}

header.fixed_white .lang ul > li.active a, header.fixed_white .lang ul > li.current-lang a {
  color: #fff;
}

header .logo {
  width: 50px;
  transition: width .5s ease;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
}

@media only screen and (min-width: 768px) {
  header .logo {
    width: 60px;
    height: 48px;
  }
}

header .logo img {
  position: absolute;
  top: 0;
  left: 0;
}

header .logo .white {
  opacity: 1;
}

header .logo .black {
  opacity: 0;
}

header .lang {
  border: 1px solid #707070;
  height: 26px;
  border-radius: 20px;
  padding: 3px;
}

@media only screen and (max-width: 767px) {
  header .lang {
    position: absolute;
    top: 8px;
    right: 60px;
    z-index: 10;
  }
}

header .lang ul {
  display: flex;
}

header .lang ul > li {
  width: 32px;
  height: 18px;
  flex-grow: 1;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

header .lang ul > li.active, header .lang ul > li.current-lang {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  pointer-events: none;
}

header .lang ul > li.active a, header .lang ul > li.current-lang a {
  color: #000;
}

body.cms-about-us header:not(.opened),
body.cms-careers header:not(.opened) {
  color: #000;
}

body.cms-about-us header:not(.opened) a,
body.cms-careers header:not(.opened) a {
  color: #000;
}

body.cms-about-us header:not(.opened) .hamburger .hamburger-inner,
body.cms-about-us header:not(.opened) .hamburger .hamburger-inner::before,
body.cms-about-us header:not(.opened) .hamburger .hamburger-inner::after,
body.cms-careers header:not(.opened) .hamburger .hamburger-inner,
body.cms-careers header:not(.opened) .hamburger .hamburger-inner::before,
body.cms-careers header:not(.opened) .hamburger .hamburger-inner::after {
  background-color: #000;
}

body.cms-about-us header:not(.opened) .hamburger.is-active .hamburger-inner,
body.cms-about-us header:not(.opened) .hamburger.is-active .hamburger-inner::before,
body.cms-about-us header:not(.opened) .hamburger.is-active .hamburger-inner::after,
body.cms-careers header:not(.opened) .hamburger.is-active .hamburger-inner,
body.cms-careers header:not(.opened) .hamburger.is-active .hamburger-inner::before,
body.cms-careers header:not(.opened) .hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

body.cms-about-us header:not(.opened) .logo .white,
body.cms-careers header:not(.opened) .logo .white {
  opacity: 0;
}

body.cms-about-us header:not(.opened) .logo .black,
body.cms-careers header:not(.opened) .logo .black {
  opacity: 1;
}

body.cms-about-us header:not(.opened) .lang ul > li.active, body.cms-about-us header:not(.opened) .lang ul > li.current-lang,
body.cms-careers header:not(.opened) .lang ul > li.active,
body.cms-careers header:not(.opened) .lang ul > li.current-lang {
  background-color: #707070;
  color: #fff;
}

body.cms-about-us header:not(.opened) .lang ul > li.active a, body.cms-about-us header:not(.opened) .lang ul > li.current-lang a,
body.cms-careers header:not(.opened) .lang ul > li.active a,
body.cms-careers header:not(.opened) .lang ul > li.current-lang a {
  color: #fff;
}

body.cms-about-us header:not(.opened).fixed_white,
body.cms-careers header:not(.opened).fixed_white {
  color: #010101;
}

body.cms-about-us header:not(.opened).fixed_white:before,
body.cms-careers header:not(.opened).fixed_white:before {
  opacity: 1;
}

body.cms-about-us header:not(.opened).fixed_white a,
body.cms-careers header:not(.opened).fixed_white a {
  color: #010101;
}

@media only screen and (min-width: 768px) {
  body.cms-about-us header:not(.opened).fixed_white .header-wrapper,
  body.cms-careers header:not(.opened).fixed_white .header-wrapper {
    top: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body.cms-about-us header:not(.opened).fixed_white .logo,
  body.cms-careers header:not(.opened).fixed_white .logo {
    width: 60px;
    height: 48px;
  }
}

body.cms-about-us header:not(.opened).fixed_white .logo .white,
body.cms-careers header:not(.opened).fixed_white .logo .white {
  opacity: 0;
}

body.cms-about-us header:not(.opened).fixed_white .logo .black,
body.cms-careers header:not(.opened).fixed_white .logo .black {
  opacity: 1;
}

body.cms-about-us header:not(.opened).fixed_white .lang ul > li.active, body.cms-about-us header:not(.opened).fixed_white .lang ul > li.current-lang,
body.cms-careers header:not(.opened).fixed_white .lang ul > li.active,
body.cms-careers header:not(.opened).fixed_white .lang ul > li.current-lang {
  background-color: #707070;
  color: #fff;
}

body.cms-about-us header:not(.opened).fixed_white .lang ul > li.active a, body.cms-about-us header:not(.opened).fixed_white .lang ul > li.current-lang a,
body.cms-careers header:not(.opened).fixed_white .lang ul > li.active a,
body.cms-careers header:not(.opened).fixed_white .lang ul > li.current-lang a {
  color: #fff;
}

footer {
  position: relative;
  padding: 40px 20px 0;
  color: #fff;
  font-size: 16px;
  background-color: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.65);
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 20px 0;
  }
}

@media only screen and (min-width: 1201px) {
  footer {
    padding: 50px 60px 0;
  }
}

@media only screen and (min-width: 1441px) {
  footer {
    padding: 50px 130px 0;
  }
}

footer .content {
  max-width: 600px;
  margin-bottom: 100px;
}

footer .company-info {
  padding-left: 0;
}

footer .actions {
  padding: 40px 0;
}

.copyright {
  color: rgba(255, 255, 255, 0.3);
  padding: 20px 0;
}

.banner-main {
  position: relative;
  background-color: #000;
  height: 100vh;
  height: --webkit-fill-available;
  overflow: hidden;
}

.banner-main .company-info {
  position: absolute;
  bottom: 40px;
  z-index: 10;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .banner-main .company-info {
    bottom: 60px;
  }
}

.banner-main .swiper-slide {
  position: relative;
}

.banner-main .swiper-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  transition: all .5s ease;
  z-index: -1;
}

.banner-main .swiper-slide img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.banner-main .swiper-slide .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center  center;
  background-repeat: no-repeat;
  transition: 3s all;
  transform: scale(1.2);
}

.banner-main .swiper-slide .swiper-slide-active .img {
  -webkit-animation: scale 3s ease forwards;
          animation: scale 3s ease forwards;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.banner-main .swiper-slide .caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .banner-main .swiper-slide .caption {
    left: 50px;
    right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .banner-main .swiper-slide .caption {
    left: 150px;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner-main .swiper-slide .caption {
    left: 250px;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1441px) {
  .banner-main .swiper-slide .caption {
    left: 310px;
  }
}

.banner-main .swiper-slide .caption h2 {
  margin-bottom: 10px;
  transition-duration: 1s;
  transition-timing-function: ease;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .banner-main .swiper-slide .caption h2 {
    font-size: 34px;
  }
}

@media only screen and (min-width: 768px) {
  .banner-main .swiper-slide .caption h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner-main .swiper-slide .caption h2 {
    font-size: 46px;
  }
}

@media only screen and (min-width: 1441px) {
  .banner-main .swiper-slide .caption h2 {
    font-size: 56px;
  }
}

.banner-main .swiper-slide .caption h2 > a {
  color: #fff;
}

.banner-main .swiper-slide .caption .more {
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;
  letter-spacing: .12em;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .banner-main .swiper-slide .caption .more {
    font-size: 14px;
  }
}

.banner-main .swiper-slide .caption .more:before, .banner-main .swiper-slide .caption .more:after {
  background-color: rgba(255, 255, 255, 0.8);
}

.banner-main .swiper-button {
  color: #fff;
}

.poster__slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: calc(100% - 222px);
  height: 100%;
  background-size: cover;
  background-position: 50%;
  transform: translate(100%);
  transition: opacity 1s ease;
  z-index: 1;
  pointer-events: none;
  transform: translate(100%);
  opacity: 1;
  pointer-events: all;
  transition: opacity 1.5s ease;
  -webkit-animation: fadeIn-data-v-133d00b4 1s forwards;
  animation: fadeIn-data-v-133d00b4 1s forwards;
}

@media only screen and (max-width: 767px) {
  .poster__slide {
    display: none;
  }
}

.poster__slide .slide__container {
  position: absolute;
  width: 100%;
  transform-origin: left center;
  transform: rotate(-90deg);
  top: auto;
  left: 116px;
  bottom: -12px;
  max-width: 328px;
  max-height: 114px;
  overflow: hidden;
}

.poster__slide .slide__title {
  cursor: pointer;
  font-family: 'montserratbold', sans-serif;
  color: #fff;
  letter-spacing: 0;
  font-size: 48px;
  line-height: 48px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  text-shadow: none;
  transition: color .5s ease;
}

.poster__slide .slide__title:hover {
  color: #fff;
}

.poster__slide .slide__label {
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #fff;
}

.swiper-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%) scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease 0s;
}

.swiper-button:hover:hover {
  transform: translateY(-50%) scale(1.3);
}

.swiper-button:after {
  font-family: 'td-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

.swiper-button.swiper-button-prev-custom {
  left: 20px;
}

@media only screen and (max-width: 767px) {
  .swiper-button.swiper-button-prev-custom {
    left: 0;
  }
}

.swiper-button.swiper-button-prev-custom:after {
  content: "\e900";
}

.swiper-button.swiper-button-next-custom {
  right: 20px;
}

@media only screen and (max-width: 767px) {
  .swiper-button.swiper-button-next-custom {
    right: 0;
  }
}

.swiper-button.swiper-button-next-custom:after {
  content: "\e901";
}

.swiper-button.swiper-button-disabled {
  opacity: .5;
  pointer-events: none;
}

.wow {
  visibility: hidden;
}

.page-main .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.company-info {
  display: flex;
  padding: 0 20px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .company-info {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .company-info {
    padding: 0 60px;
  }
}

@media only screen and (min-width: 1441px) {
  .company-info {
    padding: 0 130px;
  }
}

.company-info .address {
  display: flex;
}

@media only screen and (max-width: 1023px) {
  .company-info .address {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .company-info .address {
    flex-grow: 2;
    justify-content: space-evenly;
    padding: 0 0 0 50px;
  }
}

@media only screen and (min-width: 1441px) {
  .company-info .address {
    padding: 0 100px 0 50px;
  }
}

.social-block {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

@media only screen and (max-width: 1023px) {
  .social-block {
    margin-top: 20px;
    order: 1;
  }
}

.social-block a {
  color: #fff;
  transform: scale(1);
  transition: transform 0.3s ease 0s;
  display: block;
}

.social-block a:hover {
  transform: scale(1.3);
}

.social-block a i {
  font-size: 24px;
  line-height: 1;
}

a.more {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: #000;
  font-size: 14px;
  margin-left: 1px;
  opacity: .75;
  transition: opacity .5s ease;
}

a.more span {
  padding: 0 9px;
}

a.more:before, a.more:after {
  content: "";
  display: block;
  position: relative;
  top: 10px;
  height: 1px;
  background-color: black;
  transition: width .5s ease;
}

a.more:before {
  width: 8px;
}

a.more:after {
  width: 56px;
}

a.more:hover {
  opacity: 1;
}

a.more:hover:before {
  width: 56px;
}

a.more:hover:after {
  width: 8px;
}

.back-link a {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.back-link a:before {
  content: "\e900";
  font-family: 'td-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

.back-link a span {
  margin-left: 10px;
}

.flashLight {
  position: fixed;
  pointer-events: none;
  top: -180px;
  left: -180px;
  display: block;
  width: 359px;
  height: 359px;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: overlay;
  filter: blur(141px);
  z-index: 100;
  transform: matrix(1, 0, 0, 1, -100, -100);
  opacity: 0.8;
  transition: opacity 1.2s ease;
}

.block {
  position: relative;
  padding: 40px 20px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .block {
    padding: 100px 20px;
  }
}

@media only screen and (min-width: 1201px) {
  .block {
    padding: 120px 60px;
  }
}

@media only screen and (min-width: 1441px) {
  .block {
    font-size: 18px;
    padding: 150px 130px;
  }
}

.block img {
  display: block;
}

.block .content {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .block .content {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .block .content .contain {
    max-width: 550px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1441px) {
  .block .content .contain {
    padding-left: 125px;
  }
}

.block .content p {
  text-align: justify;
}

.block .content.ltr {
  justify-content: end;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .block .content.ltr .contain {
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .cms-index .about.block {
    padding-right: 0;
  }
}

.cms-index .about.block > div {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .cms-index .about.block > div {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .cms-index .about.block .content {
    width: 50%;
  }
}

@media only screen and (min-width: 1201px) {
  .cms-index .about.block .content {
    width: 62%;
  }
}

@media only screen and (min-width: 768px) {
  .cms-index .about.block .about-image,
  .cms-index .about.block .about-description {
    width: 50%;
  }
}

@media only screen and (min-width: 1201px) {
  .cms-index .about.block .about-image,
  .cms-index .about.block .about-description {
    width: 38%;
  }
}

.cms-index .about.block .about-image-multi {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .cms-index .about.block .about-image-multi {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .cms-index .about.block .about-image-multi {
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1201px) {
  .cms-index .about.block .about-image-multi {
    width: 62%;
  }
}

@media only screen and (min-width: 1441px) {
  .cms-index .about.block .about-image-multi {
    padding-left: 125px;
  }
}

.cms-index .about.block .about-image-multi .img-pos02 {
  width: 198px;
  position: relative;
}

.cms-index .project.block .container {
  max-width: inherit;
}

.cms-index .project.block .content .contain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .cms-index .project.block .content .contain {
    padding-left: 40px;
  }
}

.cms-index .news.block > div {
  width: initial;
}

.cms-index .news.block .content {
  flex-grow: 2;
}

@media only screen and (min-width: 768px) {
  .cms-index .news.block .content {
    padding-right: 40px;
  }
}

.cms-index .careers.block {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .cms-index .careers.block {
    padding-left: 0;
  }
}

.cms-index .careers.block > div {
  width: initial;
}

.cms-index .careers.block .content {
  flex-grow: 2;
}

.cms-index .careers.block .careers-image-multi {
  display: flex;
}

.cms-index .careers.block .careers-image-multi .img-pos02 {
  padding-left: 40px;
}

.cms-about-us {
  background-color: #fff;
}

.cms-about-us .about-page {
  position: relative;
  padding-top: 200px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-page {
    padding-top: 240px;
  }
}

.cms-about-us .about-page .content {
  flex-grow: 2;
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-page .content {
    width: 50%;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-page .content.ltr {
    padding-left: 40px;
  }
}

.cms-about-us .about-page .content.ltr .contain {
  max-width: 500px;
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .cms-about-us .about-page .about-image {
    order: 1;
  }
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-page .about-image {
    width: 50%;
  }
}

.cms-about-us .about-page .about-image-multi {
  display: flex;
  margin-top: 70px;
}

@media only screen and (max-width: 767px) {
  .cms-about-us .about-page .about-image-multi {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-page .about-image-multi {
    width: 50%;
    margin-top: 200px;
  }
}

.cms-about-us .about-page .about-image-multi .img-pos01 img {
  position: relative;
  top: -70px;
  left: 24px;
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-page .about-image-multi .img-pos01 img {
    top: -90px;
    left: 64px;
  }
}

.cms-about-us .about-page .about-image-multi .img-pos02 {
  position: relative;
  z-index: 1;
}

.cms-about-us .about-waypoint {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-waypoint {
    padding-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-waypoint > div {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .cms-about-us .about-waypoint .waypoint-block {
    width: 100%;
    order: -1;
    margin-bottom: 30px;
  }
}

.cms-about-us .about-waypoint .waypoint-block .content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 320px;
}

@media only screen and (max-width: 767px) {
  .cms-about-us .about-waypoint .waypoint-block .content {
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-waypoint .waypoint-block .content {
    margin: 100px 50px;
    max-width: 360px;
  }
}

.cms-about-us .about-waypoint .waypoint-block .content .box {
  width: 50%;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-waypoint .waypoint-block .content .box {
    margin-bottom: 40px;
  }
}

.cms-about-us .about-waypoint .waypoint-block .content .number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: normal;
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-waypoint .waypoint-block .content .number {
    font-size: 50px;
  }
}

@media only screen and (min-width: 1441px) {
  .cms-about-us .about-waypoint .waypoint-block .content .number {
    font-size: 60px;
  }
}

.cms-about-us .about-waypoint .waypoint-block .content .text {
  color: #707070;
  font-size: 16px;
  max-width: 120px;
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-waypoint .waypoint-block .content .text {
    font-size: 18px;
    max-width: 150px;
  }
}

@media only screen and (min-width: 1441px) {
  .cms-about-us .about-waypoint .waypoint-block .content .text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .cms-about-us .about-waypoint .about-image.pos {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .cms-about-us .about-waypoint .about-image.pos {
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 25%;
  }
}

@media only screen and (min-width: 1441px) {
  .cms-about-us .about-waypoint .about-image.pos {
    width: inherit;
    bottom: 0;
  }
}

.team-profile {
  padding-top: 0;
}

.team-profile .content {
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .team-profile .content {
    padding-bottom: 120px;
  }
}

.team-profile .caption {
  padding-top: 20px;
}

.team-profile .caption > div {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .team-profile .caption > div {
    font-size: 16px;
  }
}

.team-profile .caption a:hover {
  text-decoration: underline;
}

.team-profile .caption .ceo {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .team-profile .caption .ceo {
    font-size: 25px;
  }
}

.team-profile .caption .name {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .team-profile .caption .name {
    font-size: 18px;
  }
}

.team-profile .caption .level {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .team-profile .caption .level {
    font-size: 18px;
  }
}

.team-profile .caption .email a {
  color: #004040;
}

.team-profile .caption .phone a {
  color: #000;
}

.team-profile .folio-slide {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .team-profile .folio-slide {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1441px) {
  .team-profile .folio-slide {
    padding: 0;
  }
}

.team-profile .folio-slide img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .team-profile .folio-slide .swiper {
    overflow: visible;
    padding-right: 100px;
  }
}

.team-profile .folio-slide .swiper-button {
  top: 32%;
}

@media only screen and (max-width: 767px) {
  .team-profile .folio-slide .swiper-button {
    display: none;
  }
}

.team-profile .folio-slide .swiper-button.swiper-button-prev-custom {
  left: -60px;
}

.team-profile .folio-slide .swiper-button.swiper-button-next-custom {
  right: -60px;
}

.cms-project {
  background-color: #000;
  color: #fff;
}

.cms-project .page-main .container {
  max-width: inherit;
}

.cms-project .project-page.project {
  display: block;
  position: relative;
  padding-top: 200px;
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .cms-project .project-page.project {
    padding-top: 300px;
    padding-bottom: 150px;
  }
}

.cms-project .project-page.project > div {
  position: relative;
  z-index: 1;
}

.cms-project .project-main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 40px;
}

@media only screen and (min-width: 768px) {
  .cms-project .project-main {
    flex-direction: row-reverse;
    padding: 0 10px 40px;
  }
}

@media only screen and (min-width: 768px) {
  .cms-project .project-main > div {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .cms-project .project-main .project-title {
    text-align: right;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1441px) {
  .cms-project .project-main .project-title {
    padding-right: 125px;
  }
}

.cms-project .project-main .project-content {
  text-align: justify;
}

.cms-project .project-tabs {
  padding: 0 10px 40px;
  width: 100%;
}

@media only screen and (min-width: 1441px) {
  .cms-project .project-tabs {
    max-width: 50%;
    padding: 0 10px 40px;
  }
}

.cms-project .project-tabs > ul {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .cms-project .project-tabs > ul {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 768px) {
  .cms-project .project-tabs > ul {
    justify-content: space-between;
    max-width: 50%;
    margin: 0 auto;
  }
}

.cms-project .project-tabs > ul li.active a {
  pointer-events: none;
  text-decoration: underline;
}

.cms-project .project-tabs > ul a {
  font-size: 16px;
  color: #fff;
}

.cms-project .project-tabs > ul a:hover {
  text-decoration: underline;
}

.cms-project .product-block {
  display: flex;
  flex-wrap: wrap;
}

.project-linkmore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 0;
  width: 100%;
}

.project-image {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .project-image {
    padding: 14px 10px;
    margin: 0;
  }
}

.project-image > a {
  display: block;
  position: relative;
  color: #fff;
}

.project-image > a img {
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .project-image > a img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.project-image > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.63) 0, rgba(0, 0, 0, 0.24));
  z-index: 0;
  transition: all .5s ease;
}

@media only screen and (min-width: 768px) {
  .project-image > a:after {
    opacity: 0;
  }
}

.project-image > a:hover:after {
  opacity: 1;
}

.project-image > a:hover .project-detail,
.project-image > a:hover .project-link {
  opacity: 1;
}

.project-image .project-detail,
.project-image .project-link {
  position: absolute;
  left: 20px;
  transition: opacity .5s ease;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .project-image .project-detail,
  .project-image .project-link {
    left: 25px;
    opacity: 0;
  }
}

.project-image .project-detail {
  font-size: 14px;
  top: 16px;
}

@media only screen and (min-width: 768px) {
  .project-image .project-detail {
    font-size: 16px;
  }
}

.project-image .project-detail span {
  display: inline-block;
  margin-right: 25px;
}

@media only screen and (min-width: 768px) {
  .project-image .project-detail span {
    margin-right: 60px;
  }
}

.project-image .project-link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  bottom: 20px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .project-image .project-link {
    font-size: 20px;
  }
}

.project-detail-page {
  padding-top: 200px;
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .project-detail-page {
    padding-top: 300px;
    padding-bottom: 150px;
  }
}

.project-detail-page + .project.block {
  padding-top: 0;
}

.project-detail-page + .project.block .title {
  text-align: center;
}

.project-main-content {
  display: flex;
  flex-wrap: wrap;
}

.project-main-content .project-image {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .project-main-content .project-image {
    width: 50%;
  }
}

.project-main-content .project-image > a {
  pointer-events: none;
}

.project-main-content .project-image > a:after {
  opacity: 1;
}

.project-main-content .project-image > a .project-detail,
.project-main-content .project-image > a .project-link {
  opacity: 1;
}

.project-main-content .project-info {
  display: flex;
  flex-flow: wrap column;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .project-main-content .project-info {
    width: 50%;
  }
}

.project-main-content .project-info .contain {
  max-width: 500px;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .project-main-content .project-info .contain {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1441px) {
  .project-main-content .project-info .contain {
    padding-right: 125px;
  }
}

.project-main-content .project-info .contain .title {
  text-align: right;
}

.project-main-content .project-info .contain p {
  text-align: right;
}

.project-desscription,
.project-gallery {
  margin-top: 100px;
}

.cms-careers .careers-page {
  display: block;
  position: relative;
  padding-top: 200px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .cms-careers .careers-page {
    padding-top: 300px;
    padding-bottom: 150px;
  }
}

.cms-careers .careers-page .content {
  max-width: 100%;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .cms-careers .careers-page .content {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .cms-careers .careers-page .content {
    margin-bottom: 100px;
  }
}

.cms-careers .careers-page .content .contain {
  max-width: inherit;
}

@media only screen and (min-width: 768px) {
  .cms-careers .careers-page .content .contain {
    margin: 0 125px;
  }
}

.career-main .items {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1441px) {
  .career-main .items {
    margin: 0 -50px;
  }
}

.career-main .items .item {
  width: 33.33333%;
  padding: 0 50px;
  margin-bottom: 60px;
}

.career-main .items .item:nth-child(n+4) {
  display: none;
}

.career-main .items .item > a {
  display: block;
}

.career-main .items .caption {
  margin-top: 20px;
}

.career-main .items .subscription {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.careers-detail-page {
  padding-top: 200px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .careers-detail-page {
    padding-top: 300px;
    padding-bottom: 150px;
  }
}

.careers-detail-page .container {
  flex-direction: column;
}

.careers-detail-page .heading-block {
  text-align: right;
  margin-bottom: 60px;
}

.cms-news {
  background-color: #000;
  color: #fff;
}

.cms-news .news-page {
  position: relative;
  padding-top: 200px;
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .cms-news .news-page {
    padding-top: 300px;
    padding-bottom: 150px;
    padding-left: 0;
    padding-right: 0;
  }
}

.cms-news .news-page .container {
  flex-direction: column;
}

@media only screen and (max-width: 1440px) {
  .cms-news .news-page .container {
    padding: 0 60px;
  }
}

.cms-news .news-page .content {
  text-align: left;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .cms-news .news-page .content .contain {
    margin-left: 0;
    padding: 0 40px;
  }
}

.cms-news .news-page .items .item {
  display: flex;
  margin-top: 60px;
}

@media only screen and (max-width: 767px) {
  .cms-news .news-page .items .item {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .cms-news .news-page .items .item {
    margin-top: 100px;
  }
}

.cms-news .news-page .items .item:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .cms-news .news-page .items .item:nth-child(even) .news-content {
    order: 1;
  }
}

@media only screen and (max-width: 767px) {
  .cms-news .news-page .items .item:nth-child(even) .news-content .content .contain {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-end;
  }
}

@media only screen and (min-width: 768px) {
  .cms-news .news-page .items .item:nth-child(even) .news-content .content {
    padding-left: 0;
  }
}

.cms-news .news-page .items .news-content {
  flex-grow: 2;
}

.cms-news .news-wrap {
  background-color: #fff;
  color: #000;
}

.cms-news .news-slide {
  position: relative;
}

.cms-news .news-slide img {
  display: block;
  width: 100%;
}

.cms-news .news-slide .caption {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .cms-news .news-slide .caption {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .cms-news .news-slide .caption h3.title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .cms-news .news-slide .swiper {
    overflow: visible;
    padding-right: 100px;
  }
}

.cms-news .news-slide .swiper-button {
  top: 26%;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .cms-news .news-slide .swiper-button {
    display: none;
  }
}

.cms-news .news-slide .swiper-button.swiper-button-prev-custom {
  left: -60px;
}

.cms-news .news-slide .swiper-button.swiper-button-next-custom {
  right: -60px;
}

.cms-news a.more {
  color: #fff;
}

.cms-news a.more:before, .cms-news a.more:after {
  background-color: white;
}

.news-detail-page {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 60px;
}

.news-detail-page a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .news-detail-page {
    padding-top: 300px;
    padding-bottom: 150px;
  }
}

.news-detail-page .container {
  padding: 0 60px;
}

.news-detail-page .heading-block .container {
  align-items: flex-end;
}

.news-detail-page .heading-block .container .content {
  flex-grow: 2;
}

.news-detail-page .heading-block .container .content .contain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.news-detail-page .heading-block .container .content .architect-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 6px;
}

.news-detail-page .news-photo {
  margin: 100px 0;
  position: relative;
}

.news-detail-page .news-photo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  transition: all .5s ease;
}

.news-detail-page .news-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 650px;
  display: block;
}

.news-detail-page .gallery-detail {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.news-detail-page .gallery-detail img {
  display: block;
}

.news-detail-page .news-desscription .container {
  flex-direction: column;
}

.cms-contact-us .contact-us {
  display: block;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 60px;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .cms-contact-us .contact-us {
    padding-top: 300px;
    padding-bottom: 150px;
  }
}

.cms-contact-us .contact-us:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  transition: all .5s ease;
  z-index: 0;
}

.cms-contact-us .contact-us > div {
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .cms-contact-us .contact-us > div {
    width: 100%;
  }
}

.cms-contact-us .contact-us .content {
  max-width: 100%;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .cms-contact-us .contact-us .content {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .cms-contact-us .contact-us .content {
    margin-bottom: 60px;
  }
}

.cms-contact-us .contact-us .content .contain {
  max-width: inherit;
}

@media only screen and (min-width: 768px) {
  .cms-contact-us .contact-us .content .contain {
    margin: 0 125px;
  }
}

.cms-contact-us .contactForm {
  max-width: 1020px;
  margin: 0 auto;
}

.cms-contact-us .contactForm .form .fieldset {
  display: flex;
  flex-wrap: wrap;
}

.cms-contact-us .contactForm .form .fieldset .field {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .cms-contact-us .contactForm .form .fieldset .field {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

.cms-contact-us .contactForm .form .fieldset .field.fullwidth {
  width: 100%;
}

.cms-contact-us .contactForm .form .fieldset .control {
  position: relative;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text {
  font-size: 16px;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text,
.cms-contact-us .contactForm .form .fieldset .control .input-text + label {
  position: relative;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text:not(:-moz-placeholder-shown) ~ label {
  transform: translate(0, -16px) scale(0.8);
  opacity: .8;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text:not(:-ms-input-placeholder) ~ label {
  transform: translate(0, -16px) scale(0.8);
  opacity: .8;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text:focus ~ label, .cms-contact-us .contactForm .form .fieldset .control .input-text:not(:placeholder-shown) ~ label {
  transform: translate(0, -16px) scale(0.8);
  opacity: .8;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text ~ label {
  position: absolute;
  top: 14px;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  padding: 0;
  font-size: 16px;
  display: block;
  transition: transform 0.25s, opacity 0.25s ease;
  transform-origin: 0 0;
  opacity: 1;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text::-moz-placeholder {
  color: transparent;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text:-ms-input-placeholder {
  color: transparent;
}

.cms-contact-us .contactForm .form .fieldset .control .input-text::placeholder {
  color: transparent;
}

.cms-contact-us .contactForm .form .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cms-contact-us .contactForm .area-choices {
  padding: 0;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .cms-contact-us .contactForm .area-choices {
    padding: 0 20px;
    margin-top: 30px;
  }
}

.cms-contact-us .contactForm .request__title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 40px;
}

.cms-contact-us .contactForm .request__choices {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
  margin-bottom: 56px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .cms-contact-us .contactForm .request__choices {
    display: grid;
    grid-template-rows: 70px 30px;
    grid-template-columns: 20px 20px 20px 20px;
    justify-content: space-between;
    align-content: space-evenly;
    margin-bottom: 24px;
    z-index: 0;
  }
}

.cms-contact-us .contactForm .request__choices:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: calc(100% - 40px);
  transform: translateY(-50%);
  height: 1px;
  background-color: rgba(214, 214, 214, 0.3);
}

@media only screen and (max-width: 767px) {
  .cms-contact-us .contactForm .request__choices:before {
    top: 10px;
    transform: translate(0);
  }
}

@media only screen and (max-width: 767px) {
  .cms-contact-us .contactForm .request__choices:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    background-color: rgba(214, 214, 214, 0.3);
    z-index: 0;
  }
}

.cms-contact-us .contactForm .request__choices .item {
  display: inline-block;
  position: relative;
  padding: 9px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cms-contact-us .contactForm .request__choices .item .label {
  position: absolute;
  top: -20px;
  left: 50%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 9px;
  text-align: center;
  letter-spacing: .06em;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  transform: translateX(-50%);
  transition: color .5s ease;
}

.cms-contact-us .contactForm .request__choices .item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  outline: none;
}

.cms-contact-us .contactForm .request__choices .item .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #f7f7f6;
  border-radius: 50%;
  box-sizing: initial;
  border: 1px solid transparent;
  transition: all .5s ease;
  outline: none;
}

.cms-contact-us .contactForm .request__choices .item .checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #afb0b2;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.cms-contact-us .contactForm .request__choices .item:hover input ~ .checkmark,
.cms-contact-us .contactForm .request__choices .item input:checked ~ .checkmark {
  box-sizing: initial;
  border: 1px solid #fff;
  background-color: #1d1f26;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

*,
*:after,
*::before {
  box-sizing: border-box;
  outline: 0 none;
}

pre {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  pre {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1023px) {
  *::-moz-selection {
    background: transparent !important;
  }
  *::selection {
    background: transparent !important;
  }
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
  a, button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.on-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .on-mobile {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .on-desktop {
    display: none;
  }
}

.no-display {
  display: none;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

p:empty {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

p:last-child {
  margin: 0;
}

img,
object,
embed,
video {
  max-width: 100%;
  height: initial;
}

h3.title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  h3.title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1441px) {
  h3.title {
    font-size: 36px;
  }
}

h4.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  h4.title {
    font-size: 25px;
  }
}

html {
  text-rendering: optimizeLegibility !important;
  overflow-x: hidden;
  font-size: 100%;
}

html.mobile {
  overflow: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #010101;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .about > div {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .about .content .contain {
    padding-bottom: 15%;
  }
}

@media only screen and (max-width: 767px) {
  .about .about-image {
    order: 1;
  }
}

.about .about-image-multi {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .about .about-image-multi {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 1441px) {
  .about .about-image-multi {
    margin-top: -10%;
  }
}

.about .about-image-multi .img-pos02 img {
  position: absolute;
  top: -15%;
  right: 20%;
}

.about .about-description {
  max-width: 400px;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .about .about-description {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .about .about-description {
    margin-top: 80px;
    padding-right: 40px;
  }
}

.project {
  background-color: #000;
}

.project .container {
  display: flex;
  flex-wrap: wrap;
}

.project .content {
  justify-content: end;
  text-align: right;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .project .content {
    order: -1;
    width: 100%;
  }
}

.project .content .contain {
  max-width: 600px;
}

@media only screen and (min-width: 768px) {
  .project .content .contain {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1441px) {
  .project .content .contain {
    padding-right: 125px;
  }
}

@media only screen and (min-width: 768px) {
  .project .project-image {
    width: 100%;
  }
}

.project .project-image img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .project .two-col {
    width: 50%;
  }
}

.project .more {
  color: #fff;
}

.project .more:before, .project .more:after {
  background-color: #fff;
}

.news,
.careers {
  padding: 40px 20px;
  display: flex;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .news,
  .careers {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .news,
  .careers {
    padding: 150px 20px 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .news,
  .careers {
    padding: 150px 40px 80px;
  }
}

@media only screen and (min-width: 1201px) {
  .news,
  .careers {
    padding: 150px 60px 80px;
  }
}

@media only screen and (min-width: 1441px) {
  .news,
  .careers {
    padding: 150px 130px 80px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .news > div,
  .careers > div {
    width: 50%;
  }
}

.news + .careers {
  padding-top: 0;
}

.careers {
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .careers {
    padding-bottom: 80px;
  }
}

.careers .content {
  justify-content: end;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .careers .content {
    order: -1;
  }
}

@media only screen and (min-width: 768px) {
  .careers .content .contain {
    padding-left: 0;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1441px) {
  .careers .content .contain {
    padding-right: 125px;
  }
}

.contact {
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #D9D9D9;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .contact {
    padding: 100px 20px 150px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1441px) {
  .contact {
    padding: 150px 130px 150px;
  }
}

@media only screen and (min-width: 768px) {
  .contact > div {
    width: 50%;
  }
}

.contact .content {
  display: flex;
}

.contact .content .contain {
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
  .contact .content .contain {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 1441px) {
  .contact .content .contain {
    padding-left: 125px;
  }
}

/*# sourceMappingURL=style.css.map */
