@charset "UTF-8";
@import "_mixins";
@import "_breakpoints";

.about-us-cms{
    .banner{
        position: relative;
        &:before{
            content: '';
            background: rgb(16,38,44);
            background: linear-gradient(0deg, rgba(16,38,44,1) 0%, rgba(16,38,44,0) 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .contain{
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            max-width: 582px;
            color: #fff;
            .page-title{
                margin-bottom: 40px;
                text-align: center;
                .heading-title{
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.waypoint-block{
    .content{
        display: flex;
        .box{
            flex: 1 1 auto;
            text-align: center;
        }
        .number{
            font-family: 'Oswald', sans-serif;
            font-size: 42px;
            font-weight: 400;
            color: #C2A97C;
        }
        .text{
            color: rgba($color: #ffffff, $alpha: .5);
        }
    }
}
.company-section,
.profile-section,
.partner-section{
    padding: 80px 0;
}

.company-section{
    .container{
        display: flex;
        justify-content: space-between;
    }
    .block{
        flex: 0 1 405px;
        &.content{
            margin-left: 60px;
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            &:first-child{
                margin-left: 0;
                align-self: flex-start;
            }
            
            .description{
                margin-bottom: 50px;
            }
        }
        &.gallery-block{
            flex: 0 1 273px;
            margin-left: 40px;
        }
    }
}

.profile-section{
    .profiles-block{
        max-width: 984px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        .item{
            display: flex;
            align-items: flex-end;
            width: 582px;
            margin-left: auto;
            margin-top: -50px;
            &:first-child{
                margin-top: 0;
            }
            &:nth-child(2n+1){
                margin-left: unset;
                margin-right: auto;
                .caption{
                    margin-left: 24px;
                    margin-right: 0;
                }
                .profile-photo{
                    order: 0;
                }
                .profiles-expand{
                    left: 40px;
                    right: inherit;
                }
            }
        }
        .profile-photo{
            order: 1;
            width: 245px;
            flex: 1 0 245px;
        }
        .caption{
            margin-right: 24px;
            .sub-position{
                font-size: 14px;
                color: #D0D0D0;
                margin-bottom: 8px;
            }
            .sub-title{
                display: flex;
                margin-bottom: 30px;
            }
            .name{
                font-size: 24px;
                font-weight: 500;
                color: #D0D0D0;
            }
            .sub-content{

            }
        }
        .tooltip-block{
            font-size: 16px;
            font-weight: 400;
            position: relative;
            display: flex;
            align-items: center;
            margin-left: 10px;
            .icon-arrow-expand{
                font-size: 16px;
                color: #4B858E;
                cursor: pointer;
                &.show-tooltip{
                    & + .profiles-expand{
                        display: block;
                    }
                }
            }
        }
        .profiles-expand{
            background-color: rgba($color: #4B858E, $alpha: .85);
            padding: 30px 10px 30px 30px;
            width: 500px;
            height: 500px;
            position: absolute;
            right: 40px;
            bottom: -10px;
            z-index: 2;
            display: none;
            .scroller{
                padding-right: 20px;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                .position{
                    margin-bottom: 8px;
                }
                .name{
                    margin-bottom: 30px;
                }
                .description{
                    p{
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

.partner-section{
    .container{
        display: flex;
    }
    .heading-title{
        flex-shrink: 0;
    }
    .partners-block{
        display: flex;
        flex-wrap: wrap;
        .item{
            width: 120px;
            margin-left: 44px;
            margin-bottom: 44px;
        }
    }
}
